.login__wrapper
  .login__wrapper__container
    .login__wrapper__container__signin
      %h3 会員ページログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login__wrapper__container__signin__form
          .login__wrapper__container__signin__form__field
            = f.label :email, 'メールアドレス', class: 'login__wrapper__container__signin__form__field__label'
            = f.email_field :email, autofocus: true
          .login__wrapper__container__signin__form__field
            = f.label :password, 'パスワード', class: 'login__wrapper__container__signin__form__field__label'
            = f.password_field :password, autocomplete: "current-password"
          .login__wrapper__container__signin__form__forgot-email
            パスワードを忘れた方は
            = link_to 'こちら', new_user_session_path
          .login__wrapper__container__signin__form__button
            = f.submit "ログイン", class: 'login_button'
          .login__wrapper__container__signin__form__session-check
            = f.check_box :remember_me, {checked: false}, true, false
            = f.label 'ログイン情報を保持する', {for: 'user_remember_me'}
          .login__wrapper__container__signin__form__button__facebook
            = f.submit "Facebookでログイン"
          .login__wrapper__container__signin__form__button__gmo-id
            = f.submit "GMO IDでログイン"
      .login__wrapper__container__signin__another
        または
      .login__wrapper__container__signin__new
        = link_to 'minnneに会員登録する', new_user_registration_path
