.carousel
  .carousel__content
    .carousel__slidewrapper
      .carousel__slidewrapper__item
        = link_to root_path do
          = image_tag 'noimage.png', class: 'slidewrapper__item__image'
      .carousel__slidewrapper__item
        = link_to root_path do
          = image_tag 'noimage.png', class: 'slidewrapper__item__image'
      .carousel__slidewrapper__item
        = link_to root_path do
          = image_tag 'noimage.png', class: 'slidewrapper__item__image'
