.m-page
  .m-page__content
    %section.m-page__content__section
      .m-page__content__section__header
        %h2 minneからのおすすめ
      .m-page__content__section__content
        %ul.m-page__content__section__content__list
          %li.m-page__content__section__content__item
            = link_to root_path, class: 'm-page__content__section__content__item__body' do
              = image_tag 'noimage.png', class: 'm-page__content__section__content__item__body__image'
              .m-page__content__section__content__item__body__content
                %h3.m-page__content__section__content__item__body__content__title 特別なウェディングアイテム
                %p.m-page__content__section__content__item__body__content__description リングピロー・ヘッドドレス・ペーパー類、おすすめアイテムがそろっています。
          %li.m-page__content__section__content__item
            = link_to root_path, class: 'm-page__content__section__content__item__body' do
              = image_tag 'noimage.png', class: 'm-page__content__section__content__item__body__image'
              .m-page__content__section__content__item__body__content
                %h3.m-page__content__section__content__item__body__content__title 特別なウェディングアイテム
                %p.m-page__content__section__content__item__body__content__description リングピロー・ヘッドドレス・ペーパー類、おすすめアイテムがそろっています。
          %li.m-page__content__section__content__item
            = link_to root_path, class: 'm-page__content__section__content__item__body' do
              = image_tag 'noimage.png', class: 'm-page__content__section__content__item__body__image'
              .m-page__content__section__content__item__body__content
                %h3.m-page__content__section__content__item__body__content__title 特別なウェディングアイテム
                %p.m-page__content__section__content__item__body__content__description リングピロー・ヘッドドレス・ペーパー類、おすすめアイテムがそろっています。

        .m-page__content__section__content__more
      .m-page__content__section__footer
