.product_right
  .product_right__sell-frame
    %span.product_right__sell-frame__label 価格
    %span.product_right__sell-frame__price
      = @product.price.to_s(:delimited, delimiter: ',')
      円
    %span.product_right__sell-frame__quantity
      残り#{@product.quantity}点
    %span.product_right__sell-frame__sales-count
      ●人が購入しました

  .product_right__sell-btn
    = form_for @cart_product, url: '/cart_products', method: :post do |f|
      - if user_signed_in?
        = f.hidden_field :user_id, value: current_user.id
      = f.hidden_field :product_id, value: @product.id
      = f.submit 'カートに入れる', class: 'product_right__sell-btn__add-cart'
