!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MinneClone
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all' , type: 'text/css', href: '//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css'
    = stylesheet_link_tag 'application', media: 'all', type: 'text/css', href: '//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', type: 'text/javascript', src: '//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js'
  %body
    - if user_signed_in?
      = render 'layouts/group-info-banner'
    = render 'layouts/main_header'
    = yield
    = render 'layouts/main_footer'
